*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* ====== Header Includes (Text logo, Gbelo Logo Primary Nav and Secondary Nav========= */
header{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #00b3db;
    border-bottom: rgb(255, 255, 255, 0.1) 1px solid;
    z-index: 200;
}

.text-logo img{
    width: 330px;
    height:250px;
}

.globe-logo img{
    width: 240px;
    height: auto;
    margin-left: 150px;
}

header nav a{
    position: relative;
    text-decoration: none;
    color: white;
}

header nav a::after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #E85D04;
    transform-origin: left;
    transition: 0.3s ease;
    text-decoration: none;
    color: white;
}

header nav a:hover::after{
    width: 100%;
}

header nav {
    display: flex;
    flex-direction: row;  
    font-weight: 900; 
    gap: 30px;   
    padding: 15px;          
    align-items: center;
    color: white;
    background-color: #002147;
    border-radius: 6px;
    width: fit-content;
}
.primary-nav{
    padding-left: 400px;
    gap: 30px;
}

.secondary-nav{
    padding-right: 100px;
}

/* =========== Mini Header With Stickly Nav Bar================ */
.mini-header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
    background: linear-gradient(120deg, #023570, black);
    transform: translateY(-100);
    transition: 0.3s ease;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.mini-header.is-visible {
    max-height: 80px; 
    opacity: 1;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mini-text-logo img{
    width: 150px;
    height: 70px;
}

.mini-primary-nav{
    display: flex;
    gap: 30px;
    margin-left: 800px;
    background-color: transparent;
}

.mini-secondary-nav{
    display: flex;
    gap: 30px;
    margin-left: 260px;
    background-color: transparent;
}

/* ========= Featured Article(hero-page)========== */
.hero{
    background: linear-gradient(180deg, #002147, rgb(0, 0, 0, 0.95));
    margin-top: -10px;
}

.hero-header{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 80px;
    padding-top: 60px;
}

.hero-header a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2.7px;
    transition: transform 0.3s ease;
}

.hero-header a:hover{
    transform: translateY(-7px);
    background-color: #E85D04;
    box-shadow: 7px 7px 7px black;
}

.hero h2{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: white;
    letter-spacing: 1.9px;
}

.hero-page{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 60px 80px;
    margin-top: -30px;
}

.featured-article{
    flex: 1;
    width: 100%;
    height: 100%;
}

.featured-image{
    overflow: hidden;
    border-radius: 12px;
}

.featured-image img{
    object-fit: cover;
    width: 100%;
    height: 920px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.featured-image:hover img{
    transform: scale(1.10);
}

.main-featured-article{
    position: relative;
}

.main-featured-article-text{
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.main-featured-article-text a{
    text-decoration: none;
    color: white;
}

.main-category p{
    font-size: 20px;
    font-weight: bold;
    color: #888;
    text-shadow: 1px 1.2px 1px rgba(0, 0, 0, 0.99);
    transition: all 0.3s ease;
}

.main-title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.95);
}

.main-title::after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #E85D04;
    transform-origin: left;
    transition: 0.3s ease;
    text-decoration: none;
    color: white;
}

.main-featured-article:hover .main-title::after{
    width: 100%;
}

.latest-new-grid-card:hover .main-title::after{
    width: 100%;
}

.hero-grid{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.hero-grid-img{
    overflow: hidden;
    width: 100%;
}

.hero-grid img{
    flex-shrink: 0;
    width: 150px;
    height: 120px;
    border-radius: 6px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.hero-grid figure:hover .hero-grid-img img {
    transform: scale(1.19);
}

.article-meta{
    display: flex;
    grid-column: 1/-1;
    gap: 15px;
    margin-top: -95px;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    color: #888;
}

.hero-grid figure{
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    margin-bottom: -90px;
    border-top: 2px solid gray;
}


.hero-grid a{
    text-decoration: none;
    color: white;
}

.hero-grid figcaption{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 6px;
    padding: 10px;
}

.category{
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.6px;
    transition: transform 0.3s ease;
}

.category p{
    color: #888;
}

.category p:hover{
    transform: translateX(7px);
    color: #E85D04;
}

.title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.7;
}

.title:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}


/* ==========Latest New (include 6 Grid Card Images)========= */
.latest-new{
    background: linear-gradient(180deg, rgb(0, 0, 0, 0.95), #002147);
    padding: 60px 80px;
}

.latest-new-header{
    display: flex;
    align-items: center;
    gap: 30px;
    border-top: 1px solid rgb(255, 255, 255, 0.4);
    padding-top: 70px;
}

.latest-new-header a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2.7px;
    transition: transform 0.3s ease;
}

.latest-new-header a:hover{
    transform: translateY(-7px);
    background-color: #E85D04;
    box-shadow: 7px 7px 7px black;
}

.latest-new-header h2{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: white;
    letter-spacing: 1.9px;
}

.latest-new-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    object-fit: cover;
    gap: 30px;
    padding-top: 50px;
    width: 100%;
}

.latest-new-grid-card{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #3b3b3b;
    border: 1px solid rgba(255, 255, 255, 0.1);;
}

.latest-new-grid-card div{
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.latest-new-grid-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.latest-new-grid-card img:hover{
    transform: scale(1.10);
}

.latest-new-grid-text{
    position: absolute;
    bottom: 30px;
    left: 20px;
    z-index: 2;
}

.latest-new-grid-text a{
    text-decoration: none;
    color: white;
}

.meta-data{
    display: flex;
    max-width: 80%;
    /* grid-column: 1/-1; */

    margin-top: 10px;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    color: #888;
    text-shadow: 1px 1.2px 1px rgba(0, 0, 0, 0.99);
}


/*========== Slide Bar & Seacrh Bar ==============  */
.trending-topic{
    margin-top: 50px;
    padding: 40px 80px;
    background-color: #002147;
    box-shadow: 7px 7px 7px black;
    border-radius: 15px;
}

.trending-topic-header{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.trending-topic-header a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2.7px;
    transition: transform 0.3s ease;
}

.trending-topic-header a:hover{
    transform: translateY(-7px);
    background-color: #E85D04;
    box-shadow: 7px 7px 7px black;
}

.trending-topic-header h2{
    font-family: "Archivo Black", sans-serif;
    font-size: 40px;
    color: white;
    letter-spacing: 1.9px;
}

.trending-topic-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px; 
}

/* Left Side */
.slider-wrapper{
    position: relative;
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
    padding: 20px;
    gap: 30px;
}

.slider-wrapper::-webkit-scrollbar { display: none; }

.slider-left-btn{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 40px;
    background: transparent;
    border: none;
    color: #E85D04;
    text-shadow: 0px 2px 5px black;
    z-index: 10;
    transition: transform 0.3s ease;
}

.slider-left-btn:hover{
    transform: translateY(-5px);
    color: white;
}

.slider-right-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 40px;
    background: transparent;
    border: none;
    color: #E85D04;
    text-shadow: 0px 2px 5px black;
    z-index: 10;
    transition: transform 0.3s ease;
}

.slider-right-btn:hover{
    transform: translateY(-5px);
    color: white;
}

.slide-track{
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
    padding: 20px;
    margin-left: 50px;
    gap: 30px;
}

.slide-track::-webkit-scrollbar { display: none; }

.slide-bar{
    display: flex;
    flex: 0 0 750px;
    scroll-snap-align: start;
    align-items: center;
    gap: 30px;
    padding-left: 10px;
}

.slide-bar-image img{
    border-radius: 50%;
    width: 160px;
    height: 160px;
    flex-shrink: 0;
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.slide-bar:hover .slide-bar-image img {
    transform: scale(1.10);
}

.slide-bar-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
    flex: 1;
}

.slide-bar-text a{
    text-decoration: none;
    color: white;
}

.categorys{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.6px;
    transition: transform 0.3s ease;
}

.categorys p{
    color: #888;
}

.categorys p:hover{
    transform: translateX(7px);
    color: #E85D04;
}

.titles{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
    max-width: 450px;
    margin-bottom: 10px;
}

.titles:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}

.meta-datas{
    display: flex;
    gap: 125px;
    font-size: 15px;
    font-weight: bold;
    color: #888;
}

/* Right Side */
.search-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: -60px;
}

.search-heading{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    line-height: 1.5;
    margin: 0;
    padding-bottom: 15px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    color: white;
    width: 100%;
}

input[type="radio"]{
    position: relative;
    accent-color: #E85D04;
    appearance: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #E85D04;
    flex-shrink: 0;
    cursor: pointer;
}

input[type="radio"]:checked::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: #E85D04;
    border-radius: 50%;
}

.input-1{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    gap: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}

.input-2{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.input-2 input{
    border: none;
    outline: none;
    padding: 15px;
    flex: 1; 
    border-radius: 5px;
    min-width: 0;
}

.input-2 button{
   display: inline-flex; 
   align-items: center; 
   gap: 6px;
   background-color: #E85D04;
   color: white;
   padding: 15px 25px; 
   border: none; 
   border-radius: 5px;
   font-weight: 900; 
   letter-spacing: 1.5px;
   cursor: pointer;
   transition: transform 0.3s ease;
   white-space: nowrap;
}

.input-2 button:hover{
    color: #002147;
    background: white;
    box-shadow: 7px 7px 7px rgb(9, 9, 52);
    transform: translateY(-5px)
}

/* =============  Pagination Dots Container  ==============*/
.slider-dots {
    display: flex;
    gap: 10px;
    margin-top: -35px;
    margin-left: 400px;
}


.dot {
    width: 12px;
    height: 12px;
    background-color: #555;  
    border-radius: 50%;
    cursor: pointer;         
    transition: background-color 0.3s ease; 
}

.dot.active {
    background-color: #E85D04; 
}


/* =================  News-Ctegories-Grid ======================== */
.news-categories-grid{
    margin-top: 50px;
    margin-left: -80px;
    margin-right: -80px;
    padding: 40px 80px;
    background: linear-gradient(200deg, #002147, black)
}


.news-categories-header{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.news-categories-header a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2.7px;
    transition: transform 0.3s ease;
}

.news-categories-header a:hover{
    transform: translateY(-7px);
    background-color: #E85D04;
    box-shadow: 7px 7px 7px black;
}

.news-categories-header h2{
    font-family: "Archivo Black", sans-serif;
    font-size: 40px;
    color: white;
    letter-spacing: 1.9px;
}


.categories-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.categories-grid h3{
    font-family: "Archivo Black", sans-serif;
    font-size: 20px;
    color: white;
    letter-spacing: 1.9px;
}

.minor-categories{
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 2px solid rgba(35, 33, 33, 0.5);
    padding-right: 30px;
}

.minor-categories-grid{
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 30px;
    padding: 10px;
    margin-top: 20px;
    align-items: center;
    border-top: 2px solid rgba(60, 59, 59, 0.4);
}

.minor-categories-grid-img{
    overflow: hidden;
    width: 100%;
}


.minor-categories-grid-img img{
    flex-shrink: 0;
    width: 150px;
    height: 120px;
    border-radius: 6px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.minor-categories-grid:hover .minor-categories-grid-img img{
    transform: scale(1.19);
}

.categories-article-meta{
    display: flex;
    grid-column: 1/-1;
    gap: 15px;
    margin-top: -30px;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    color: #888;
}

.minor-categories-grid a{
    text-decoration: none;
    color: white;
}

.minor-categories-grid figcaption{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 6px;
    padding: 10px;
}

/* .category{
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.6px;
    transition: transform 0.3s ease;
}

.category p{
    color: #888;
}

.category p:hover{
    transform: translateX(7px);
    color: #E85D04;
}

.title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.7;
}

.title:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
} */


/* =============== News Letter Form ============= */
.newletter-form{
    margin-left: -80px;
    margin-right: -80px;
    padding: 40px 80px;
    background-color: #070606;
}

.newletter-form-container{
    text-align: center;
}

.newletter-form-head{
    color: white;
}

.newletter-form-head h2{
    font-family: "Archivo Black", sans-serif;
    font-size: 40px;
    color: white;
    letter-spacing: 1.9px;
}

.newletter-form-head h3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.7;
    margin-top: 20px;
}

.newletter-form-head h3 span{
    color: #E85D04;
}

.newletter-form-duration{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-left: 700px;
    margin-right: 700px;
    background-color: #16181c;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.Montly{
    max-width: 100%;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 60px;
    color: black;
    background-color: white;
    border-radius: 30px;
    z-index: 10;
}

.Annual{
    margin-left: -16px;
    align-items: center;
    padding: 20px;
    padding-left: 60px;
    padding-right: 40px;
    color: #E85D04;
    background-color: #16181c;
    border-radius: 30px;
}

.newletter-form-border{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-left: 370px;
    color: white;
    text-align: left;
}

.newletter-form-background{
    background-color: #16181c;
    border-radius: 25px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 30px;
    transition: transform 0.3s ease;
}

.newletter-form-background:hover{
    border: 2px solid #E85D04;
    transform: translateY(-5px);
    box-shadow: 2px 2px 10px #E85D04;
}

.newletter-form-heading{
    display: flex;
    gap: 120px;
    flex-direction: row;
    align-items: center;
}


.newletter-form-heading h2{
    font-family: "Archivo Black", sans-serif;
    font-size: 25px;
    letter-spacing: 1.9px;
    color: white;
}

.newletter-form-heading h3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 16px;
    color: #E85D04;
}


.newletter-form-body{
    font-family: "Cinzel", serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 2.5;
}

.newletter-form-body h3 span{
    font-size: 12px;
    font-weight: 500;
    padding-right: 10px;
}

.newletter-form-body h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 43px;
    font-weight: bold;
}

.newletter-form-body h2 span{
    font-size: 17px;
    color: #888;
    letter-spacing: 1.6px;
}

.business-Premium{
    margin-left: 370px;
    gap: 10px;
}

.business-Premium-border{
    display: flex;
    flex-direction: row;
    background-color: #16181c;
    border-radius: 25px;
    gap: 10px;
    padding: 30px;
    margin-top: 30px;
    max-width: 1026px;
    transition: transform 0.3s ease;
    color: white;
    text-align: left;
    align-items: center;
}

.business-Premium-border img{
    width: 100px;
    height: auto;
}

.business-Premium-text h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1.7px;
    line-height: 2;
}

.business-Premium-text h3{
    font-size: 16px;
    font-weight: 700;
    color: #E85D04;
}

.business-Premium-explore{
    background-color: #3b3a3a;
    border-radius: 15px;
    padding: 20px;
    margin-left: 120px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.business-Premium-explore:hover{
    transform: translateY(-5px);
    box-shadow: 0px 2px 10px black;
}


.subscribe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 20px;
    margin-top: 40px;
    color: white;
    text-align: left;
    border-top: 1px solid #888;
}

.subscribe-premium{
    /* flex: 1; */
    line-height: 1.7;
}

.subscribe-premium h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1.7px;
}

.subscribe-premium h3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: bold;
}

.subscribe-premium h3 span{
    font-size: 17px;
    color: #888;
    letter-spacing: 1.6px;
}

.subscribe-premium p{
    font-family: "Cinzel", serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
}

.subscribe-form{
    flex: 1;
}

.subscribe-form-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-3{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.input-3 input{
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 5px;
    flex: 1;
}

.input-3 button{
   display: inline-flex; 
   align-items: center; 
   justify-content: center;
   gap: 26px;
   background-color: #E85D04;
   color: white;
   padding: 15px 20px; 
   border: none; 
   border-radius: 5px;
   font-size: 15px;
   font-weight: 900; 
   letter-spacing: 1.5px;
   cursor: pointer;
   transition: transform 0.3s ease;
   white-space: nowrap;
   width: 30%;
}

.input-3 button:hover{
    color: #002147;
    background: white;
    box-shadow: 7px 7px 7px rgb(9, 9, 52);
    transform: translateY(-5px)
}

.subscribe-T-C{
    flex: 1;
    border: 1px solid #888;
    border-radius: 10px;
    padding: 20px;
}

.subscribe-T-C p{
    letter-spacing: 1.7px;
    line-height: 1.5;
    font-size: 17px;
    font-weight: 5  00;
    font-style: italic;
    max-width: 100%;
}



/* =============== Footer ============= */
.footer{
    margin-top: -60px;
    padding: 40px 80px;
    background: linear-gradient(300deg, #002147, black);
    box-shadow: 7px 7px 7px black;
}

.footer-flex{
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.footer-flex a{
    text-decoration: none;
    color: white;
}

/* ======= Left Footer ======= */
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* flex: 1; */
}

.footer-left img{
    width: 220px;
    height: auto;
    margin-bottom: 15px;
}

.footer-icon{
    display: flex;
    gap: 40px;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.footer-icon a:hover{
    color: #E85D04;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
}

.footer-copy-right{
    color: white;
}

/* ========= Right Footer ========== */
.footer-right{
    /* flex: 1; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    margin-left: 350px;
    
    max-width: 100%;
    font-family: "Cinzel", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}

.footer-right a:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer-right-left{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-right-mid{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-right-right{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


/* ============= Tablet Mode ============== */
@media (max-width: 1024px) {
    header{
        gap: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .text-logo img{
        width: 90px;
        height: 60px;
    }

    .globe-logo img{
        width: 70px;
        height: auto;
        margin-left: 20px;
    }


    header nav {
        display: flex;
        flex-direction: row;  
        font-weight: 900; 
        gap: 5px;   
        padding: 7px;          
        align-items: center;
        color: white;
        background-color: #002147;
        border-radius: 6px;
        width: fit-content;
    }
    .primary-nav{
        padding-left: 70px;
        gap: 25px;
    }

    .secondary-nav{
        padding-right: 30px;
        gap: 25px;
    }

    /* ========== Mini Header With Sticky Nav Bar =============== */
    .mini-header{
        gap: 20px;
        padding-left: 30px;
        padding-right: 30px;
        max-height: 0;
    }

    .mini-header.is-visible {
        max-height: 50px; 
        padding-top: 10px;
        padding-bottom: 10x;
    }

    .mini-text-logo img{
        margin-top: 15px;
        width: 80px;
        height: 60px;
    }

    .mini-primary-nav{
        gap: 30px;
        margin-left: 100px;
    }

    .mini-secondary-nav{
        gap: 30px;
        margin-left: 60px;
    }


    /* ========= Featured Article(hero-page)========== */
    .hero{
        margin-top: -10px;
    }

    .hero-header{
        gap: 30px;
        padding-left: 30px;
        padding-top: 20px;
    }

    .hero h2{
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-size: 25px;
        letter-spacing: 1.9px;
    }

    .hero-page{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 30px 30px;
        margin-top: -30px;
    }

    .featured-article{
        flex: 1;
        width: 100%;
        height: 100%;
    }

    .featured-image{
        overflow: hidden;
        border-radius: 12px;
    }

    .featured-image img{
        object-fit: cover;
        width: 100%;
        height: 920px;
        border-radius: 12px;
        transition: transform 0.3s ease;
    }

    .featured-image:hover img{
        transform: scale(1.10);
    }

    .main-featured-article{
        position: relative;
    }

    .main-featured-article-text{
        position: absolute;
        bottom: 30px;
        left: 20px;
    }

    .main-featured-article-text a{
        text-decoration: none;
        color: white;
    }

    .main-category p{
        font-size: 20px;
        font-weight: bold;
        color: #888;
        text-shadow: 1px 1.2px 1px rgba(0, 0, 0, 0.99);
        transition: all 0.3s ease;
    }

    .main-title{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-size: 30px;
        font-weight: bold;
        position: relative;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.95);
    }

    .main-title::after{
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #E85D04;
        transform-origin: left;
        transition: 0.3s ease;
        text-decoration: none;
        color: white;
    }

    .main-featured-article:hover .main-title::after{
        width: 100%;
    }

    .latest-new-grid-card:hover .main-title::after{
        width: 100%;
    }

    .hero-grid{
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .hero-grid-img{
        overflow: hidden;
        width: 100%;
    }

    .hero-grid img{
        flex-shrink: 0;
        width: 150px;
        height: 120px;
        border-radius: 6px;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .hero-grid figure:hover .hero-grid-img img {
        transform: scale(1.19);
    }

    .article-meta{
        display: flex;
        grid-column: 1/-1;
        gap: 15px;
        margin-top: -95px;
        justify-content: space-between;
        font-size: 15px;
        font-weight: bold;
        color: #888;
    }

    .hero-grid figure{
        display: grid;
        grid-template-columns: 150px 1fr;
        align-items: center;
        margin-bottom: -90px;
        border-top: 2px solid gray;
    }


    .hero-grid a{
        text-decoration: none;
        color: white;
    }

    .hero-grid figcaption{
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 6px;
        padding: 10px;
    }

    .category{
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1.6px;
        transition: transform 0.3s ease;
    }

    .category p{
        color: #888;
    }

    .category p:hover{
        transform: translateX(7px);
        color: #E85D04;
    }

    .title{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.7;
    }

    .title:hover{
        text-decoration: underline;
    }
  
}